# editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.html]
insert_final_newline = false

[*.md]
indent_style = space
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
