# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/public

# misc
.DS_Store
.idea/
.vscode/

# hugo resources
/resources
/hugo

# lint site
.htmlproofer

# webpack output
/static/js
/static/css
