name: deploy to aliyun oss

on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: 15669072513/gitdoc-build-upload-oss@main
        with:
          access_key: ${{ secrets.OSS_ACCESS_KEY_ID }}
          access_secret: ${{ secrets.OSS_ACCESS_KEY_SECRET }}
          endpoint: http://oss-cn-hangzhou.aliyuncs.com
          bucket: oss://sofastacktech-sofastacktech


